<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}My Movie DATABASE{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .mymdb-masthead{
            background-color: #EEEEEE;
            margin-bottom: 1em;
        }
    </style>


</head>


<body>

<div class="mymdb-masthead">
    <div class="container">
        <nav class="nav">
            <div class="navbar-brand">
                MyMDB
            </div>
            <a class="nav-link" href="{% url 'core:MovieList' %}">Movies</a>
        </nav>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            {% block main %}
            
            {% endblock %}
        </div>
        <div class="col-sm-3 offset-sm-1 mymdb-sidebar">
            {% block sidebar %}

            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>
